.supercontainer{
	display: flex;
	min-height: 100vh;
	flex-direction: column; 
}
a{
	text-decoration: none;
}
.container{
	display: flex;
	flex: 1;
	padding-left: 80px;
	padding-right: 80px;
	font-family: Arial;	
}

.leftcolumn{
	flex: 0 0 12em;
	background-color: #12161f;
	margin-left: 15px;
}

.search{
	display: flex;
	background-color: #cf4d4b;
	justify-content: space-around;
	align-items: center;
	height: 75px;
	padding-right: 13px;
	padding-left:13px;
}
.headings{
	color: #c3cdd9;
	margin-left: 30px;
	font-size: 12px;
}

.option{
	display: flex;
}
.option--active{
	background-color:#22262f 
}
.option__text{
	color: #ecedef;
	font-size: 12px;
	padding-left: 15px;
}

.maincontent{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 20px;
	padding-right:20px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 830px;
	height: 75px;
	padding-right: 20px;
}

.toggleLinks{
	color: grey;
}
.toggleLinks__text{
	display: inline-block;
	font-size: 12px;
}
.toggleLinks__divider{
	display:inline-block;
}
.toggleLinks__text--inactive{
	color:grey;
}
.toggleLinks__text--active{
	color:#71c1c9;
}
.movie{
	height: 240px;
	width: 150px;
	font-size: 12px;
	color: grey;
}
.movie__title{
	color: black;
}

.rightcolumn{
	flex: 0 0 12em;
	background-color: #ecedef;

}

.user{
	display: flex;
	background-color: #71c1c9;
	align-items: center;
	justify-content: space-around;
	height:75px;

}
.members{
	display: flex;
	align-content: stretch;
	font-size: 12px;
	margin-left: -30px;
	padding-bottom: 7px;

}
.stackedText{
	display: flex;
	flex-direction: column;
	padding-right: 10px;
}

.members__pic{
	padding-right: 10px;
	

}
.members__name{
	color:black;

}
.members__movie{
	color:grey;
	

}
.members__status{
	justify-content: right;


}
.search--chat{
	background-color: #c3cdd9;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 75px;
	padding-right: 13px;
	padding-left: 13px;
}