.supercontainer{
	display: flex;
	min-height: 100vh;
	flex-direction: column; 
}

.container{
	display: flex;
	flex: 1;
}

.leftcolumn{
	flex: 0 0 12em;
	background-color: #12161f;

}
.search{
	background-color: #cf4d4b;
}
.headings{
	color: #c3cdd9;
}
.option__text{
	color: #ecedef;

}

.maincontent{
	flex: 1;
	flex-wrap: wrap;

}

.header{
	justify-content: space-around;
}


.rightcolumn{
	flex: 0 0 12em;
	background-color: #ecedef;

}


.user{
	background-color: lightblue;
	align-content: space-around;

}
.chat{
	background-color: #c3cdd9;
}